*{
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
}

body{
    background-color: white;
}

.caja{
    width: 1256px;
    height: 366px;
    display: flex;

}

#caja-verde
{
background-color: #1e3932;
}

#caja-azul
{
background-color: rgb(0, 68, 180);
}

#caja-roja
{
background-color: rgb(213, 0, 50);
}

.caja img{
    margin: 0px;
    box-sizing: border-box;
}

.caja h1{
    font-size: 30px;
}
.caja .texto-caja{
    /*Fuente de Google Fonts*/
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    /*Otras características*/
    color: white;
    text-align: center;
    /*Centrando texto*/
    margin: auto;
    padding: 80px;
    font-size: 20px;
}  

.caja-inferior{
    width: 613px;
    height: 727px;
}

.caja-inferior img{
    margin: auto;
    width: 100%;
}

#caja-inferior-1{
    background-color: pink;
    color:  rgb(213, 0, 50);
}

#caja-inferior-2{
    background-color: lightcyan;
    color: blue
}

.caja-inferior .texto-caja-inferior{
    /*Fuente de Google Fonts*/
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    /*Otras características*/
    text-align: center;
    padding: 50px;
}


.cajitas-inferiores{
    display: flex; /* Flexbox para alinear en fila */
    /*margin: 20px 0px 20px 0px !important;*/
    width: 1256px;
    height: 366px;

